body {
    background-color: lawngreen;
    font-family: 'Lucida Console', 'Comic Sans MS', sans-serif;
    text-align: center;
}

//For navigation menu at the top.
ul li {
    list-style: none;
}

#header {

}

#navflex {
    display: flex;
    justify-content: center;

}

nav {

}

#backgroundflex {
    display: inline-flex;
}

#fprojectsflex {
    display: inline-flex;
}

#oprojectsflex {
    display: inline-flex;
}

#cwoflex {
    display: inline-flex;
}